html {
    background-color: rgb(12, 41, 61);
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

#wrapper {
    margin: auto;
    width: 50%;
    margin-top: 5em;
    border: 1px solid green;
    display: grid;
    grid-gap: 1px;
}

#display {
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid green;
}

button {
    background-color:rgb(12, 41, 61);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    border: none;
}

#calcs {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 5px 5px 5px;
}

#current {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 5px 5px 5px;
}

#formatbtns {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-rows: 2em;
    grid-template-columns: 4em 4em;
    font-size: 35px;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}

#numberwrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 5em 5em 5em 5em;
}

#one #two #three {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

#four #five #six {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

#seven #eight #nine {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
}

#opswrapper {
    display: grid;
    grid-template-columns: auto auto;
}

#addition #subtraction {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}

#multiplication #division {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2
}

#equal {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3
}